

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <span>Müşteri İşlemleri</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
        <div class="bg-white py-2 collapse-inner rounded">

            <a class="collapse-item" asp-action="Index" asp-controller="Customer">Müşterileri Görüntüle</a>
            <a class="collapse-item" asp-action="Create" asp-controller="Customer">Müşteri Ekle</a>
        </div>
    </div>
</li>

<hr class="sidebar-divider my-0">

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        <span>Sipariş İşlemleri</span>
    </a>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionSidebar" style="">
        <div class="bg-white py-2 collapse-inner rounded">

            <a class="collapse-item" asp-action="Index" asp-controller="Order">Siparişleri Görüntüle</a>
            <a class="collapse-item" asp-action="CreateOrder" asp-controller="Order">Sipariş Oluştur</a>
        </div>
    </div>
</li>

<hr class="sidebar-divider my-0">

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
        <span>Prim İşlemleri</span>
    </a>
    <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionSidebar" style="">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" asp-action="Index" asp-controller="Premium">Prim Görüntüle</a>
        </div>
    </div>
</li>

<hr class="sidebar-divider my-0">

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
        <span>Sorun Bildir</span>
    </a>
    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionSidebar" style="">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" asp-action="Create" asp-controller="Issue">Kayıt Oluştur</a>
            <a class="collapse-item" asp-action="Index" asp-controller="Issue">Kayıtları Görüntüle</a>
        </div>
    </div>
    </li>
