

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <span>Ürün İşlemleri</span>
    </a>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionSidebar" style="">
        <div class="bg-white py-2 collapse-inner rounded">

            <a class="collapse-item" asp-action="Index" asp-controller="Product">Ürünleri Görüntüle</a>
            <a class="collapse-item" asp-action="Create" asp-controller="Product">Ürün Ekle</a>
        </div>
    </div>
</li>

<hr class="sidebar-divider my-0">

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        <span>Tedarikçi İşlemleri</span>
    </a>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionSidebar" style="">
        <div class="bg-white py-2 collapse-inner rounded">

            <a class="collapse-item" asp-action="Index" asp-controller="Supplier">Tedarikçileri Görüntüle</a>
            <a class="collapse-item" asp-action="Create" asp-controller="Supplier">Tedarikçi Ekle</a>
        </div>
    </div>
</li>

<hr class="sidebar-divider my-0">

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
        <span>Satış İşlemleri</span>
    </a>
    <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordionSidebar" style="">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" asp-action="Index" asp-controller="Sales">Ürünleri Teslim Et</a>


        </div>
    </div>
</li>

<hr class="sidebar-divider my-0">

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
        <span>Sorun Bildir</span>
    </a>
    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionSidebar" style="">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" asp-action="Create" asp-controller="Issue">Kayıt Oluştur</a>
            <a class="collapse-item" asp-action="Index" asp-controller="Issue">Kayıtları Görüntüle</a>
        </div>
    </div>
    </li>

   